streamlit
zhipuai
python-dotenv
sniffio
httpx
st-clickable-images
streamlit==1.31.0
zhipuai==1.0.0
python-dotenv==1.0.0
pdfplumber==0.10.4
langchain==0.1.9
langchain-community==0.0.21
chromadb==0.4.22
sentence-transformers==2.2.2
